<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family:'Times New Roman', Times, serif;
  font-size:small;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #312727;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>


<body>
<div class="container">
  <h3>Titanic Data</h3>
  <p></p>            
  <table class="table table-hover">
    <thead>
      <tr style="text-align: right">
      {% for column in records.columns : %}
        <th>{{column}}</th>
      {% endfor %}
      </tr>
    </thead>
    
    <tbody>
      {% for values in records.values : %}
      <tr>
          {% for val in values: %}
              <th>{{ val }}</th>
          {% endfor %}
      </tr>
      {% endfor %}             
    </tbody>
    
  </table>
</div>
</body>
</html>